# Copy to a mode-0600 file outside Git and replace every REQUIRED value.
ACCESS_GOVERNANCE_IMAGE=REQUIRED_registry_repo@sha256_64lowerhex
ACCESS_GOVERNANCE_ROLLBACK_IMAGE=REQUIRED_current_registry_repo@sha256_64lowerhex
ACCESS_GOVERNANCE_BUILD_INPUT_SHA256=REQUIRED_64lowerhex
PERMISSION_CATALOG_SHA256=REQUIRED_64lowerhex
PACKAGE_CATALOG_SHA256=REQUIRED_64lowerhex
RIKUNE_ACCEPTANCE_SUBJECT=user:usr_<43-char-base64url-sub>
RIKUNE_ANALYZER_IMAGE=REQUIRED_ghcr.io/last-emo-boy/rikune-analyzer-static@sha256_64lowerhex
STRAD_ANALYZER_IMAGE=REQUIRED_overlay_registry_repo@sha256_64lowerhex
STRAD_IMAGE=REQUIRED_registry_repo@sha256_64lowerhex
STRAD_VOLUME_INIT_IMAGE=REQUIRED_registry_repo@sha256_64lowerhex
STRAD_REVISION=REQUIRED_40lowerhex
STRAD_NEWAPI_MODEL=REQUIRED_existing_newapi_alias
STRAD_RUST_BUILDER_IMAGE=REQUIRED_registry_repo@sha256_64lowerhex
STRAD_RUNTIME_IMAGE=REQUIRED_registry_repo@sha256_64lowerhex
STRAD_NODE_BUILDER_IMAGE=REQUIRED_registry_repo@sha256_64lowerhex
VERDICT_IMAGE=REQUIRED_registry_repo@sha256_64lowerhex
NEWAPI_IMAGE=REQUIRED_registry_repo@sha256_64lowerhex
SLUICE_IMAGE=REQUIRED_registry_repo@sha256_64lowerhex
AUTHORITY_PUBLIC_KEY_SHA256=REQUIRED_64lowerhex
SUPPLY_CHAIN_PUBLIC_KEY_SHA256=REQUIRED_64lowerhex
SUPPLY_CHAIN_EVIDENCE_SHA256=REQUIRED_64lowerhex
SUPPLY_CHAIN_SIGNATURE_SHA256=REQUIRED_64lowerhex
